.navUp{
    top: 0;
    left: 0;
    display: flex;
    background-color: #121212;
    text-decoration: none;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    border-color: #6C6C6C;
    @apply justify-center border-b;
    .menuItem1,
    .menuItem2
    {
        color: white;
        text-decoration: none;
        &:hover{
            color: #FFFFFF;
            transition: color 0.3s ease;
            font-weight: 400;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.nav{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    background-color: #272727;
    text-decoration: none;
    padding: 20px 0;
    width: 100%;
    z-index: 1000;
    border-color: #6C6C6C;
    @apply justify-center border-b;
}

.containerMenu{
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    @apply justify-between;
}

.textoNavbar {
    display: flex;
    color: white;
    gap: 48px;
}

.menuItem1,
.menuItem2,
.menuItem3,
.menuItem4
{
    color: white;
    text-decoration: none;
    &:hover{
        color: var(--cor-primaria);
        transition: color 0.3s ease;
        font-weight: 600;
        cursor: pointer;
    }
}

.menuHamburguer {
    display: none;
}

.menuItem2{
    display: flex;
    gap: 10px;
}

.sectionHeader{
    display: flex;
    width: 100%;
    @apply justify-center;
}

.containerHeader {
    max-width: 1000px;
    width: 100%;
    margin-top: 190px;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.primaryButton{
    background-color: var(--cor-primaria);
    color: #FFFFFF;
    border-radius: 8px;
    max-width: 200px;
    min-width: 200px;
    padding: 12px 0;
    &:hover{
        background-color: #0056b3;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
}

.secondaryButton{
    background-color: transparent;
    color: #FFFFFF;
    border: var(--cor-primaria) 2px solid;
    border-radius: 8px;
    max-width: 200px;
    min-width: 200px;
    padding: 12px 0;
    &:hover{
        background-color: var(--cor-primaria);
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
}

.terciaryButton{
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 8px;
    max-width: 251px;
    min-width: 251px;
    padding: 12px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    &:hover{
        background-color: var(--cor-primaria);
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
}

.sectionBemVindo{
    display: flex;
    width: 100%;
    @apply justify-center;
}

.containerSectionBemVindo{
    max-width: 1000px;
    width: 100%;
    margin-top: 64px;
}

.cardBemVindo{
    background-color: #272727;
    border-radius: 8px;
    padding: 32px;
    display: flex;
}

.imagemCardBemVindo{
    width: 100%;
    height: 100%;
}

.cardContentBemVindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionNossaMissao{
    display: flex;
    width: 100%;
    @apply justify-center;
}

.containerSectionNossaMissao{
    max-width: 1000px;
    width: 100%;
    margin-top: 64px;
}

.cardNossaMissao{
    width: 100%;
    display: flex;
}

.imagemCardNossaMissao{
    width: 100%;
    height: 100%;
    padding: 0 32px;
}

.cardNossaMissaoImage{
    display: flex;
    width: 400px;
    height: 420px;
    background-color: #2C2C2C;
    justify-content: center;
    align-items: center;
    border-radius: 8px 0 0 8px;
}

.textContainerNossaMissao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    width: 600px;
    height: 420px;
    background-color: #272727;
    border-radius: 0 8px 8px 0;
}

.submenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    z-index: 99999;
    overflow: hidden;
}

.noScroll {
    overflow: hidden;
}

.submenuContent{
    max-width: 1000px;
    color: var(--primary-content-dark);
    padding: 64px;
    width: 100%;
}

.cardSubMenu {
    background-color: var(--background-level2);
    border-radius: 8px;
    border: var(--secondary-content-dark) 1px solid;
    padding: 32px;
    min-width: 232px;
    max-width: 232px;
    min-height: 208px;
    height: 100%;
    font-size: 14px;
    color: var(--primary-content-dark);
    gap: 24px;
    @apply flex flex-col items-center justify-center;
    &:hover{
        background-color: var(--background);
        transition: background-color 0.3s ease;
        border: var(--cor-primaria) 1px solid;
        transition: border 0.3s ease;
    }
    .imageCardSubMenu{
        width: 80px;
        height: 80px;
    }
}

.iconInfo{
    width: 24px;
    height: 24px;
    color: var(--secondary-content-dark);
}

.textInfo{
    color: var(--secondary-content-dark);
}

.sectionExperienciaTransparente{
    display: flex;
    width: 100%;
    @apply justify-center items-center;
}

.containerSectionExperienciaTransparente{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 64px;
    @apply justify-center items-center;
}

.cardExperienciaTransparenteContent{
    background-color: var(--background-level2);
    border: var(--secondary-content-dark) solid 1px;
    margin-bottom: 32px;
    @apply flex flex-col max-w-[312px] items-center gap-4 p-[32px] rounded-lg;
    &:hover{
        background-color: var(--background);
        transition: background-color 0.3s ease;
        border: var(--cor-primaria) 1px solid;
    }
}

.containerCardExperienciaTransparente{
    @apply flex gap-4 justify-center
}

.closeButtonIcon{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--background-level2);
    border-radius: 3px;
    &:hover{
      background-color: var(--background);
      transition: background-color 0.3s ease;
      border: 1px solid var(--cor-primaria);
      transition: border 0.3s ease;
    }
  }

@media screen and (max-width: 1024px) {
    .navUp{
        top: 0;
        left: 0;
        display: flex;
        background-color: #121212;
        text-decoration: none;
        padding: 20px 64px;
        width: 100%;
        z-index: 1000;
        border-color: #6C6C6C;
        @apply justify-center border-b;
        .menuItem1,
        .menuItem2
        {
            color: white;
            text-decoration: none;
            &:hover{
                color: #FFFFFF;
                font-weight: 400;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .nav{
        display: flex;
        background-color: #272727;
        text-decoration: none;
        padding: 20px 64px;
        width: 100%;
        @apply justify-center;
        .menuItem1,
        .menuItem2,
        .menuItem3,
        .menuItem4{
            display: none;
        }
    }

    .containerMenu{
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 100%;
        @apply justify-between;
        .primaryButton {
            margin-left: 0;
        }
    }

    .menuHamburguer {
        display: flex;
    }

    .sectionHeader{
        display: flex;
        padding: 0 16px;
        @apply justify-center;
    }

    .containerHeader {
        margin-top: 160px;
    }

    .h1{
        font-size: 48px;
        color: #FFFFFF;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .h2{
        font-size: 24px;
        color: #6C6C6C;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .buttonsContainer{
        gap: 16px;
        @apply flex items-center;
    }

    .primaryButton{
        background-color: var(--cor-primaria);
        color: #FFFFFF;
        border-radius: 8px;
        max-width: 251px;
        min-width: 251px;
        padding: 12px 0;
    }

    .terciaryButton{
        background-color: transparent;
        color: #FFFFFF;
        border-radius: 8px;
        max-width: 251px;
        min-width: 251px;
        padding: 12px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .sectionBemVindo{
        display: flex;
        width: 100%;
        padding: 0 64px;
        @apply justify-center;
    }

    .cardBemVindo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagemCardBemVindo{
        width: 200px;
        margin-right: 24px;
    }

    .sectionNossaMissao{
        display: flex;
        width: 100%;
        padding: 0 64px;
    }

    .containerSectionNossaMissao{
        width: 100%;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .cardExperienciaTransparenteContent{
        background-color: var(--background-level2);
        border: var(--secondary-content-dark) solid 1px;
        margin-bottom: 24px;
        @apply flex flex-col max-w-[312px] items-center p-[32px] rounded-lg
    }

    .containerCardExperienciaTransparente{
        @apply flex flex-col justify-center
    }
}

@media screen and (max-width: 768px) {
    .navUp{
        display: none;
    }
    .nav{
        display: flex;
        background-color: #272727;
        text-decoration: none;
        padding: 20px 16px;
        width: 100%;
        @apply justify-center;
    }

    .containerMenu{
        display: flex;
        align-items: center;
        max-width: 100%;
        width: 100%;
        @apply justify-between;
    }

    .containerMenu .primaryButton {
        display: none;
    }

    .menuItem1,
    .menuItem2,
    .menuItem3,
    .menuItem4{
        display: none;
    }

    .menuHamburguer {
        display: flex;
    }

    .sectionHeader{
        display: flex;
        padding: 0 16px;
        @apply justify-center;
    }

    .containerHeader {
        margin-top: 109px;
    }

    .h1{
        font-size: 48px;
        color: #FFFFFF;
        font-weight: 600;
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .h2{
        font-size: 24px;
        color: #6C6C6C;
        font-weight: 400;
        text-align: center;
        width: 100%;
        margin-bottom: 24px;
    }

    .buttonsContainer{
        gap: 16px;
        @apply flex flex-col items-center;
    }

    .primaryButton{
        background-color: var(--cor-primaria);
        color: #FFFFFF;
        border-radius: 8px;
        max-width: 251px;
        min-width: 251px;
        padding: 12px 0;
    }

    .terciaryButton{
        background-color: transparent;
        color: #FFFFFF;
        border-radius: 8px;
        max-width: 251px;
        min-width: 251px;
        padding: 12px 0;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .sectionBemVindo{
        display: flex;
        width: 100%;
        padding: 0 0;
    }

    .containerSectionBemVindo{
        width: 100%;
        margin-top: 64px;
    }

    .cardBemVindo{
        background-color: #272727;
        border-radius: 8px;
        padding: 32px;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        .primaryButton{
            background-color: var(--cor-primaria);
            color: var(--white);
            border-radius: 8px;
            min-width: 100%;
            padding: 12px 0;
        }
    }

    .imagemCardBemVindo{
        width: 100%;
        height: 100%;
    }

    .cardContentBemVindo{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sectionNossaMissao{
        display: flex;
        width: 100%;
        padding: 0 0;
    }

    .containerSectionNossaMissao{
        width: 100%;
        margin-top: 64px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .cardNossaMissao{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cardNossaMissaoImage{
        display: flex;
        width: 100%;
        height: 100%;
        padding: 32px 0;
        background-color: #2C2C2C;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 0 0;
    }

    .textContainerNossaMissao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #272727;
        border-radius: 0 0 8px 8px;
    }

    .cardExperienciaTransparenteContent{
        background-color: var(--background-level2);
        border: var(--secondary-content-dark) solid 1px;
        margin-bottom: 24px;
        @apply flex flex-col max-w-[312px] items-center p-[32px] rounded-lg
    }

    .containerCardExperienciaTransparente{
        @apply flex flex-col justify-center
    }
}